 form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;

    height:60%;
    width:40%;

    background-color:rgba(0, 0, 0, 0.479);
    padding:50px;

    align-items: center;

    border-radius:20px;

}

#form-cont
{
    align-items: center;
    height:100vh;
    border:1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

form > input{
    padding:10px;
    border-radius:20px;
    width:60%;
    border-style: none;
}

form > button {
    width:20%;
    padding:10px;
    font-size:15px;
    border-radius:20px;
    background-color: rgb(155, 155, 155);
    color:white;

    cursor:pointer
}

